[client]
host=mysql
user=magento2
password=magento2
database=magento2

[mysql]
host=mysql
user=magento2
password=magento2
database=magento2
default-character-set=utf8
local-infile=1
show-warnings
auto-rehash
sigint-ignore
reconnect
